body{
    margin: 0px;
}
.banner{
    background-image: linear-gradient(to top right,#ff4756, #2d2d2d);
    height: 170px;
    position: relative;
}
footer{
    background-color: #2d2d2d;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.copyright{
    color: #f4f4f4;
    max-width: 100%;
    padding: 10px;
    text-align: center;
}
.user-picture{
    width: 120px;
    height: 120px;
    margin: auto;
}
.user-picture img{
    width: 100%;
    border-radius: 50%;
    margin-top: 60%;
}
.btn-update{
    text-align: center;
    margin: 8% 0%;
}
.btn-update button{
    font-size: 17px;
    font-weight: 400;
    padding: 10px 30px;
}
main{
    height: 100%;
    overflow: hidden;
}
.red{
    background-color: #ff4756;
}
.black{
    background-color: #2d2d2d;
}
.grey{
    background-color: #f4f4f4;
}
@media only screen and (max-width : 600px){
    body{
        background-color: #f4f4f4;
    }
    .user-infos{
        padding: 0px 15px;
        margin-top: 0px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-infos-item{
        width: 100%;
        height: 100px;
        font-weight: 300;
        padding: 7% 5%;
        text-align: center;
        font-size: 17px;
    }
    .nom,
    .prenom{
        font-size: 25px;
        display: inline-block;
    }
    .nom,
    .prenom,
    .phone,
    .email,
    .sexe,
    .adresse{
        margin-bottom: 5px;
    }
    .infos-group{
        margin: 7% 0%;
    }

}
@media only screen and (min-width : 600px){
    main{
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        border-radius: 10px;
    }
    body{
        background-color: #2d2d2d;
    }
    .user-infos{
        padding: 0px 15px;
        margin-top: 0px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-infos-item{
        width: 100%;
        height: 100px;
        font-weight: 300;
        padding: 7% 5%;
        text-align: center;
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: indigo;
    }
    .user-infos-item.grey{
        background-color: #f4f4f4;
    }
    .user-infos-item.red{
        background-color: rgb(240, 235, 235);
    }
    .user-infos-item.black{
        background-color: #f4f4f4;
    }
    .nom,
    .prenom{
        font-size: 25px;
    }
    .nom,
    .prenom,
    .phone,
    .email,
    .sexe,
    .adresse{
        margin-bottom: 5px;
    }
    .infos-group{
        margin: 7% 0%;
    }
    .btn-update{
        text-align: center;
        padding: 8% 0%;
        background-color: rgb(240, 235, 235);
        margin: 0%;
        margin-bottom: 15px;
        border-radius: 10px;
    }
}
