.big-container{
    padding: 10px;
    background-image: url(HomaBiope-Croquis/images/bernd-klutsch-nE2HV5AUXFo-unsplash.jpg);
    background-size: cover;
}
.black-color{
    background-color: #2d2d2d;
    opacity: 0.8;
    margin: 10px;
    height: 680px;
}
.logo{
    width: 30%;
    height: 90px;
    
}
.logo img{
    margin: 10px 0px 20px 5%;
    width: 90%;
    height: 60%;
}
.header-container{
    display: flex;
    
}
.menu-bar{
    display: flex;
    justify-content: space-around;
}
.request a, .historique a,.compte a{
    color: rgb(207, 201, 201);
    text-decoration: none;
   
}
.request a, .historique a{
    margin-left: 10%;
    padding: 1px;
}
.menus-bar{
    width: 60%;
}
.compte{
    text-align: center;
    margin-top: 20px;
}
.header-container{
    align-items: center;
    font-size: 20px;
    color: rgb(207, 201, 201);
}
h2{
    text-align: center;
    color: rgb(207, 201, 201); 
}
.table-container{
    color:rgb(207, 201, 201); 
    margin-left: 15px;
}
td{
    /* width:13.5% ; */
    height: 50px;
    border: 1px solid white;
}
th{
    /* width: 15%; */
    height: 30px;
    border: 1px solid white;
}
.eye{
    margin: 10px 0px 10px 10%;
    color:rgb(207, 201, 201); 
}
.delete{
    margin: 17%;
    color:rgb(207, 201, 201); 
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color:rgb(207, 201, 201); 
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color:rgb(207, 201, 201); 
}
@media only screen and (min-width:1024px){
    .menu-bar{
        width: 47%;
        justify-content: space-between;
    }
    .menus-bar{
        display: flex;
        justify-content: space-around;
        font-size: 28px;
    }
    .request a, .historique a{
        margin-left: 0;
        padding: 0;
    }
    .historique a{
        margin-left: 20%;
    }
    .compte{
        margin-top: -0.5px;
    }
    .logo{
        height: 150px;
        width: 45%;
        margin-top: 20px;
    }
    h2{
        margin: 50px;
        font-size: 45px;
    }
    th{
        font-size: 30px;
    }
    .black-color{
        height: 750px;
    }
    .big-container{
        max-width: 1050px;
        margin: auto;
    }
    
}